The import you started is complete.

{% if error_file %}
    <p><a href="{% url 'imports_failed_rows' error_file %}">Download CSV with failed rows</a></p>
{% endif %}

{% if errors.length > 0 %}
The following errors occured during import:
<ul>
    {% for error in errors %}
        {% for key,value in error.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}

{% if created.count > 0 %}
    <p>
        The following {{ created.count }} articles were created:
        <ul>
            {% for c in created %}
            <li>{{ c.article }}</li>
            {% endfor %}
        </ul>
    </p>
{% endif %}

{% if updated.count > 0 %}
    <p>
        The following {{ updated.count }} articles were updated:
        <ul>
            {% for u in updated %}
            <li>{{ u.article }}</li>
            {% endfor %}
        </ul>
    </p>
{% endif %}